@model Location
<section id="locate">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>Localização!</h1>
            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="googlemap" style="position:relative;width:100%;height:500px;"></div>
            </div>
        </div>
    </div>
    <!-- Map Section -->
</section>


@section scripts{

}
