
<div  class="row" id="image_div"> 
<div class="slider-text">
  What is BlockChain?
  <div class="row">
    <div class="col-md-10">
      <p>      Blockchain is a transformational technology with the potential 
      to extend digital transformation beyond a company’s walls and 
      into the processes it shares with suppliers, customers and partners. 
      At its core, a blockchain is a data structure that is used to create 
      a digital transaction ledger that, instead of resting with a single provider, 
      is shared among a distributed network of computers. 
    </p>
    <p>
      <a href="#">Read more about BlockChain </a>
    </p>
    </div>
  </div>
    </div>
</div>
<div class="row subheading">
 <h4 class="row " style="margin-left:3% !important">
  How BlockChain works?
 </h4>
 <div class=" row subtext">
   <p class="col-md-6">
      An essential feature of blockchain is its ability to encrypt each "block" 
      of data for a unique hash output that is also stamped onto the succeeding block, 
      creating a chain of sequential information which is then verified through a consensus
       of activity across a network of participants. This works in 
      conjunction with digital signatures to prove identity, authenticity 
      and enforce data access rights.  
          <a style="margin-top:2%"> <span> Read more about how blockchain works </span></a>
   </p>

   <div class="col-md-6"> 
      <img src="./assets/blockchain5.png">
   </div>
 </div>
</div>
<div class="row">
<div class="col-md-4 demo">
<a routerLink='/demo'><img routerLink='/demo' src="./assets/demo.png"></a>
</div>
<div class="col-md-4 demo">
  <img src="./assets/ppt.png">
</div>
<div class="col-md-4 demo">
  <img src="./assets/useCase.png">
</div>
</div>