<div class="container MenuItems">
    <div class="row">
        <div class="col-md-8">
            <div class="row menu-grids">
                <!--s here-->
                <div class="s menu ">
                    <div class="col-md-4 menu-grid" *ngFor="let category of categories">
                        <div class="four-agileits imgBack" [ngClass]="GetBackgroundImage(category)">
                            <div class="four-text">
                                <a href="javascript:void(0)">
                                    <h3>{{category}}</h3>
                                    <h4>
                                        Select
                                        <img [src]="'../assets/right_arrow.png'" (click)="SelectSubCategory(category)">
                                    </h4>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--//s here-->
            </div>
            <div class="row menu-grids" *ngIf="showSubCategory">
                <div class="s menu">
                    <div class="col-md-3 menu-grid" *ngFor="let subCategory of subCategories">
                        <div class="four-agileits imgBack" [ngClass]="GetBackgroundImage(subCategory)">

                            <div class="four-text">
                                <a href="javascript:void(0)">
                                    <h4>{{subCategory}}</h4>
                                    <h6>
                                        Select Items
                                        <img [src]="'.././assets/right_arrow.png'" (click)="SelectItems(subCategory)">
                                    </h6>
                                </a>
                            </div>
              </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row menu-grids" *ngIf="showItems">
                <div class="s menu " >
                    <div class="col-md-3 menu-grid " *ngFor="let item of items" id="Items">
                        <div class="four-agileits imgBack" [ngClass]="GetBackgroundImage(item)">

                            <div class="four-text">
                                <a href="javascript:void(0)">
                                    <h5>{{item.Name}}</h5>
                                    <h6>
                                        {{item.ItemCode}}
                                    </h6>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="sel-grid" >
          <div class="sel-items">
            2nd column
          </div>
        </div>
    </div>
</div>