.menu-grids
{
    margin: 1% 0;
    padding-bottom: 1%;
    background: white;
    margin-top: 3%;
    margin-bottom: 3%;
}
.MenuItems
{
    width: 100% !important;
}
.menu
{
    margin: 5% 0% 0% 2% !important;
}
.four-text h3
{
    color:white
}
.four-text h4
{
    color:white
}
#sel-grid
{
    padding-left: 2% !important;
    padding-right: 0% !important;
    padding-top: 2% !important;
}
.sel-items
{
background: white;
padding-bottom: 100%;
}
h6
{
    color:white !important;
}
h5
{
    color:white !important;
}
.menu-grid
{
    padding-bottom: 2%;
    padding-right: 1% !important;
    padding-left: 1% !important;
}
.imgBack
{
    background-image: url('../../assets/mik-4ever-indian-restaurant.jpg') !important;
}