<div class="container">

  <div class="row">
      <div class="col-md-2"></div>
<div class="col-md-4">
<div>
    <img [src]="'../assets/Car.jpg'">
    <div><h5>Cars</h5></div>
    <div><h6>Shop Cars</h6></div>
    <div><a routerLink='car-shop'>Go to Car Shop</a></div>
    
</div>
</div>
<div class="col-md-4">
    <div>
        <img [src]="'../assets/Phone.jpg'">
        <div><h5>Phones</h5></div>
        <div><h6>Shop Phones</h6></div>
        <div><a routerLink='phone-shop'>Go to Phone Shop</a></div>
    
    </div>
</div>
<div class="col-md-2"></div>
  </div>
  
</div>
