<div  id="image_div">
<div class="caption col-md-6">
  <h2>Demos</h2>
  <h4 id="demo">Popular Usecases Demo of BlockChain technology</h4>
  <h5>By sheer design, the list is always incomplete,
     as new innovators across the industry spectrum are 
     finding novel ways to leverage blockchain technology.
     Here there are demos on various domains in which Blochain 
     technology is widely in use .</h5>
</div>
</div>

<div class="container">
<div class="row domainrow">
  <h4 class="row">
    Banking
  </h4>
  <div class="row">
    <p>
      There are various usecase where blockchain is being used in Banking domain.
      Here is the demo for KYC usecase
    </p>
  </div>
  <div class="row">
      <a routerLink='/Banking'> Go to Demo</a>
  </div>
</div>
<div class="row domainrow">
    <h4 class="row">
      Insurance
    </h4>
    <div class="row">
        There are various usecase where blockchain is being used in Banking domain.
        Here is the demo for a insurance usecase 
    </div>
    <div class="row">
        <a routerLink='/insurance'> Go to Demo</a>
    </div>
  </div>
</div>