.investment-container
{
    margin-top: 0%;
}
.title-style
{
    padding-bottom: 1%;
}
.table-text
{
    font-size: 12px;
}
.fileUpload 
{  
    position: relative;  
    overflow: hidden;  
    margin: 10px;  
}  
 .fileUpload input.upload 
 {  
    position: absolute;  
    top: 0;  
    right: 0;  
    margin: 0;  
    padding: 0;  
    font-size: 20px;  
    cursor: pointer;  
    opacity: 0;  
    filter: alpha(opacity=0);  
    background-color: red;
}
.upload-button-disable{
background: gray;
border: gray;
}

