<div class="container form-container">
  <div class="row ">
    <div class="col-md-8 form-header">
      <div class="main-header">
        Investment Proof Submission Form FY 2017-2018
      </div>
    </div>
  </div>
  <div class="row box">
    <div class="row header"> 
         Employee Details
    </div>

    <div class="row">
    <div class="row employee-detail">
      <div>
    <div class="col-md-6">
      <label>Employee Name : </label>
      <label>Asha</label>
    </div>
    <div class="col-md-6">
      <label>VAM ID : </label>
      <label>2301</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <label>Financial Year : </label>
        <label>2017-2018</label>
    </div>
    <div class="col-md-6">
        <label>Financial Year : </label>
        <label>2017-2018</label>
    </div>
  </div>
    </div>
    <div class="rules">
        <a href="#">Click here to read the instructions before filling the form</a>
    </div>
   
  </div>
  <div class="row box">
      <div class="header">
        Proof Submission
      </div>
      <div>
Investment proposal under 80C
      </div>
  </div>
</div>>