<div class="main">
  <div class="login">
    <div class="login-top">
    <img [src]="'../assets/p.png'" >
    </div>
    <h1>Sign in to start your session</h1>
    <div class="login-bottom">
    <form name="LoginForm" #loginForm="ngForm">
      <input type="text" name="userID" id="userID" placeholder="Username" #UserID="ngModel" required [(ngModel)]="login.userID" required>		
       <div [hidden]="UserID.valid||UserID.pristine" class="aler alert-danger">UserId is required</div>                    			
      <input type="password" name="pwd" id="pwd" class="password" placeholder="Password" #pwd="ngModel" required [(ngModel)]="login.pwd" required>						
      <div [hidden]="pwd.valid||pwd.pristine" class="aler alert-danger">Password is required</div>           
      <input type="submit" value="login" (click)="Login()" [disabled]="!loginForm.valid">
    </form>
    <a href="#"><p>Forgot your password? Click Here</p></a>
    </div>
  </div>
</div>
<div class="footer">
<p>@MyRestaurant</p>
</div>