#news-list
{
    margin-top: 3%;
}
#news-id
{
    margin: 2%;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
}