<div class="container">
<div class="row">
    <div class="col-md-8">
        <div>Product</div>
        <div>
          <table class="table table-responsive">
            <tr>
              <td>
                <h4>Product</h4>
              </td>
            </tr>
            <tr>
              <td>
                Name : {{shopItem.Name}}
                <br/>
                Model : {{shopItem.Model}}
                <br />
               Serial Number :  {{shopItem.SerialNumber}}
              </td>
              <td>
                 Cost :  {{shopItem.Cost}}
              </td>
            </tr>
          </table>
        </div>
    </div>
</div>
<div class="row">
    
</div>
</div>