<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <h3>Car Shop</h3>
      </div>
      <div class="row">
        <h4>Buy a Car</h4>
      </div>
      <div class="row">
        <h5>Choose a Product</h5>
      </div>
      <div class="row">
        
        <div class="col-md-6">
            <img [src]="'../assets/Car.jpg'">
        </div>
        <div class="col-md-1"></div>
       <div class="col-md-5">
          <h6> Color : Red</h6>
          <h6> Name  : Maruti Suzuki Swift</h6>
          <h6> Fuel Type :	Diesel / Petrol</h6>
          <h6> Mileage :	22 Kmpl to 28 Kmpl </h6>
          <h6> Engine :	1197 CC to 1248 CC</h6>
          <h6> Transmission :	Automatic / Manual</h6>
          <h6> Year : 2018 </h6>
       </div>
      </div>
      <div class="row">
          <div class="row">
<div class="col-md-2">
  <h5> Model</h5>
</div>
<div class="col-md-4">
   <input type="text" placeholder="Model" class="form-control">
  </div>
          </div>
          <div class="row"></div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>