<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Status</h3>
    </div>
    <div class="panel-body">
      <div *ngIf="loading">
        <div class="loading"></div>
      </div>
      <div *ngIf="appError">
          <div class="alert alert-danger fade in">
              <a href="#" class="close" data-dismiss="alert">&times;</a>
            <h5>  <strong>Error!</strong> Something went wrong please try after sometime. If the issue persists please contact Finance Team  </h5>
          </div>
      </div>
      <div *ngIf="!hasData">
        <h6>No Data to display</h6>
      </div>
      <div *ngIf="hasData">
        <table class="table table-bordered borderless">
          <tbody>
            <tr *ngFor="let key of keys">
              <td *ngIf="checkIfNull(item[key])" class="col-md-6">{{key}} : </td>
              <td *ngIf="checkIfNull(item[key])" class="col-md-6">{{item[key]}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>