<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Status</h3>
        </div>
        <div class="panel-body">
                    <table  class="table table-bordered borderless">
                       <tbody>
                        <tr *ngFor="let key of keys">
                          <td *ngIf="checkIfNull(item[key])" class="col-md-6" >{{key}} : </td>
                          <td  *ngIf="checkIfNull(item[key])" class="col-md-6">{{item[key]}}</td>                
                        </tr>
                      </tbody>
                    </table>                   
        </div>
      </div>
</div>