<div class="container">
  <div class="col-md-12">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-5">
            <h3 class="panel-title">Employee Submission Info</h3>
          </div>
          <div class="col-md-5">
            Filter by ID:
            <input class="form-control" [(ngModel)]="filterQuery" />
          </div>
          <div class="col-md-1">
            <label class="label-control">Show </label>
            <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
              <option [ngValue]="5">5</option>
              <option [ngValue]="10">10</option>
              <option [ngValue]="15">15</option>
            </select>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="loading" *ngIf="loading"></div>
        <div *ngIf="appError">
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
              <h5>  <strong>Error!</strong> Something went wrong please try after sometime. If the issue persists please contact Finance Team  </h5>
            </div>
        </div>
        <div class="table-responsive font-custom">
          <table class="table table-bordered table-striped " [mfData]="data| dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">

            <thead>
              <tr>
                <th sty class="table-header-padding" *ngFor="let key of keys" w>
                  <mfDefaultSorter [by]="key">{{key}}</mfDefaultSorter>
                </th>
                <th class="table-header-padding">
                  <mfDefaultSorter>Approve/Reject Request</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td *ngFor="let key of keys">
                  <div *ngIf="key=='Remark'">
                    <div >
                    <input type="text" class="form-control width-style"   placeholder="Update Remarks" [(ngModel)]="remark" (change)=AddRemark(item,key) >
                    </div>
                    <div >
                       Remark :  {{item[key]}}
                    </div>
                  </div>
                  <div *ngIf="!(key=='Remark')">
                  {{item[key]}}
                  </div>
                </td>
                <td>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="button" [disabled]="ShouldDisable(item,'Approved')" class="btn btn-success" (click)="ApproveRequest(item)">Approve</button>
                    </div>
                    <div class="col-xs-6">
                      <button type="button"  [disabled]="ShouldDisable(item,'Rejected')" class="btn btn-danger" (click)="RejectRequest(item)">Reject</button>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <td colspan="17">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>