<div class="page-container" id="PageContainer">
    <!--/content-inner-->
 <div class="left-content">
  <div class="mother-grid-inner">
 <!--header start here-->
<app-header></app-header>
 <!--heder end here-->
 <app-breadcrumb></app-breadcrumb>
 <!-- inner block start here -->
<div class="inner-block">
 <router-outlet></router-outlet>
</div>
 <!--inner block end here-->
 <!--copy rights start here-->
 <div class="copyrights">
    <p>© 2016 Pooled. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
 </div>	
 <!--COPY rights end here-->
 </div>
 </div>
   <!--//content-inner-->
       <!--/sidebar-menu-->
      <app-sidebar></app-sidebar>
      </div>