<div>
    <div class="row">
      <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Valuemomentum - Blockchain Demo</a>
          </div>
  
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Concept</a>
            </li>
            <li>
              <a href="#">How it Works</a>
            </li>
            <li>
              <a href="#">Demos</a>
            </li>
            <li>
              <a href="#">PPT</a>
            </li>
            <li>
              <a href="#">Use Cases</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
    <div class="row footer">
        <footer class="page-footer font-small blue pt-4 mt-4">
    
          <!--Footer Links-->
          <div class="container-fluid text-center text-md-left">
            <div class="row">
    
              <!--First column-->
              <div class="col-md-6">
                <h3 class="text-uppercase">Valuemomentum</h3>
                <h4>Deliver value.Drive Momentum.</h4>
              </div>
              <!--/.First column-->
    
              <!--Second column-->
              <div class="col-md-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">About Us</a>
                  </li>
                  <li>
                    <a href="#!">Contact</a>
                  </li>
                  <li>
                    <a href="#!">Industries</a>
                  </li>
                  <li>
                    <a href="#!">Services</a>
                  </li>
                </ul>
              </div>
              <!--/.Second column-->
            </div>
          </div>
          <!--/.Footer Links-->
    
          <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://www.valuemomentum.com/"> Valuemomentum.com </a>
          </div>
          <!--/.Copyright-->
    
        </footer>
      </div>
    
  </div>